* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color:white;
}
h3 {
    max-height: fit-content;
    text-align: center;
}
h1 {
    margin-bottom: 0%;
    padding-bottom: 0%;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}

.logo {
    text-decoration: none;
    text-align: center;
    align-content: center;
    font-size: 175%;
}

a:link {
    text-decoration: none;
    color: black;
    transition: text-shadow .1s;
}

a:active {
    color:blueviolet;
    text-shadow: -5px 5px black;
}

.centered {
    align-content: center;
}

.button {
    display: block;
    border: 2px solid black;
    border-radius: 5%;
    background-color: blue;
    color: white !important;
    font-weight: bold;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 25%;
    padding: 15px;
    font-size: x-large;
    text-align: center;
}
.button:active {
    background-color: blueviolet;
}
#button1 {
    
}
#button2 {

}
#button3 {

}


a.sources_link:link {
    display: block;
    padding: 5px;
    color: blue;
    font-size: x-large;
    word-wrap: break-word;
    transition: none;
    text-shadow: none;
    text-align: center;
}

.easy_read {
    font-size: larger;
}
.easy_read_light {
    font-size: larger;
    font-style: italic;
}

.footer {
    font-style: italic;
    font-size: smaller;
    color: lightgray;
    position: relative;
    text-align: center;
    display: block;
    margin: 50% auto auto auto;
}